USE [master]
GO
/****** Object:  Database [RoboBattle]    Script Date: 13/4/2026 10:10:14 ******/
CREATE DATABASE [RoboBattle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoboBattle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RoboBattle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoboBattle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RoboBattle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoboBattle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoboBattle]
GO
/****** Object:  Table [dbo].[Batalla]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batalla](
	[id_batalla] [int] IDENTITY(1,1) NOT NULL,
	[fecha_encuentro] [datetime] NOT NULL,
	[arena] [varchar](100) NULL,
	[ambiente] [varchar](100) NULL,
	[categoria] [varchar](50) NULL,
	[duracion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_batalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ciudad_origen] [varchar](100) NOT NULL,
	[nombre_capitan] [varchar](100) NULL,
	[correo_contacto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perceptores]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perceptores](
	[id_perceptores] [int] IDENTITY(1,1) NOT NULL,
	[id_robot] [int] NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perceptores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resulta_batalla]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resulta_batalla](
	[id_resultado] [int] IDENTITY(1,1) NOT NULL,
	[id_robot] [int] NULL,
	[id_batalla] [int] NULL,
	[puntos_obtenidos] [int] NULL,
	[estado_final] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robot]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robot](
	[id_robot] [int] IDENTITY(1,1) NOT NULL,
	[id_equipo] [int] NULL,
	[nombre] [varchar](100) NOT NULL,
	[peso] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_robot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono_Equipo]    Script Date: 13/4/2026 10:10:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Equipo](
	[id_telefono_equipo] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](20) NOT NULL,
	[id_equipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_telefono_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Perceptores]  WITH CHECK ADD FOREIGN KEY([id_robot])
REFERENCES [dbo].[Robot] ([id_robot])
GO
ALTER TABLE [dbo].[Resulta_batalla]  WITH CHECK ADD FOREIGN KEY([id_batalla])
REFERENCES [dbo].[Batalla] ([id_batalla])
GO
ALTER TABLE [dbo].[Resulta_batalla]  WITH CHECK ADD FOREIGN KEY([id_robot])
REFERENCES [dbo].[Robot] ([id_robot])
GO
ALTER TABLE [dbo].[Robot]  WITH CHECK ADD FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipo] ([id_equipo])
GO
ALTER TABLE [dbo].[Telefono_Equipo]  WITH CHECK ADD FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipo] ([id_equipo])
GO
USE [master]
GO
